Repository blobs-io/blobsgame, pull requests merged in 2018-11, with the labels that each got.

#24 add/fix: FFA gamemode and bug fixes
  backend/Base.js
  backend/events/disconnect.js
  backend/events/ffaCoordinateChange.js
  backend/events/ffaDirectionChange.js
  backend/events/ffaPlayerCreate.js
  backend/events/register.js
  backend/server.js
  backend/utils/hasFalsy.js
  backend/utils/hasNull.js
  public/game/index.html
Labels: enhancement, major change

#25 Responsive design
  public/app/index.html
  public/css/style.small.css
  public/login/index.html
  public/register/index.html
Labels: enhancement, frontend

#26 FFA Migration (account usage)
  backend/events/disconnect.js
  backend/events/ffaCoordinateChange.js
  backend/events/ffaPlayerCreate.js
  backend/server.js
  public/game/index.html
  public/js/sockets.js
Labels: backend, enhancement, frontend, major change, needs tests, priority: high

#34 CSS, rich preview tags, and grammar fixes for the sources page
  public/sources/index.html
Labels: enhancement, frontend, priority: low
