Repository blobs-io/blobsgame, pull requests merged in 2019-03, with the labels that each got.

#84 Clans (semi)
  backend/api/endpoints/clans.list.js
  backend/server.js
  public/clans/index.html
Labels: API, backend, frontend

#87 Add enemy minimap
  public/js/game/functions.js
Labels: enhancement, frontend

#88 AntiCheat
  backend/events/ffaCoordinateChange.js
  backend/events/ffaPlayerCreate.js
  backend/structures/Player.js
  public/js/game/functions.js
Labels: backend, enhancement
